body {
  background-image: url(./svg/space.svg);
}
#app {
  width: 100%;
  height: 100%;
  color: white;
}

.earth {
  width: 200px;
  height: 200px;
  left: -webkit-calc(50% - 100px);
  left: -moz-calc(50% - 100px);
  left: calc(50% - 100px);
  top: -webkit-calc(50% - 100px);
  top: -moz-calc(50% - 100px);
  top: calc(50% - 100px);
  position: absolute;
}

.earth > object {
  width: 200px;
  height: 200px;
}

.start {
  position: fixed;
  bottom: 20px;
  text-align: center;
  width: 100%;
}
.start a {
  padding: 6px 40px;
  background-color: aqua;
  border-radius: 3px;
}
.start a:hover {
  cursor: pointer;
}

.sputnik {
  width: 20px;
}

.moon {
  width: 50px;
}

.ship {
  width: 20px;
  position: fixed;
  left: calc(50% - 10px);
  top: calc(50% - 90px);
}

/*animation*/
@keyframes circle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes inner-circle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
.sputnik {
  animation-name: sputnik;
  position: fixed;
  left: calc(50% - 10px);
  top: calc(50% - 200px);
  animation: circle 5s linear infinite;
  transform-origin: 50% 200px;
}

.moon {
  position: fixed;
  left: calc(50% - 10px);
  top: calc(50% - 300px);
  animation: inner-circle 10s linear infinite;
  transform-origin: 50% 300px;
}

.start-ship {
  transition: all 2s ease-in-out;
  transform: translate(0, -50px);
}
